chroma.sqlite3


# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
/venv

# Environment files
.env
*.env

# SQLite and local DBs
*.sqlite3
*.db

# Logs
*.log
app.log
logs/

# MacOS / Windows
.DS_Store
Thumbs.db


# VSCode / IDE
.vscode/
.idea/
